<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>

  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>

  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>

  <key>CFBundleVersion</key>
  <string>1</string>

  <key>CFBundleName</key>
  <string>Modelo-PDF</string>

  <key>CFBundleIdentifier</key>
  <string>br.com.koruthos.iawriter.modelo-pdf</string>

  <key>IATemplateDocumentFile</key>
  <string>document</string>

  <key>IATemplateDescription</key>
  <string>Document style for PDF format</string>

  <key>IATemplateAuthor</key>
  <string>Chauã Queirolo</string>

  <key>IATemplateAuthorURL</key>
  <string>https://www.koruthos.com.br</string>

  <!-- <key>IATemplateFooterHeight</key>
  <integer>90</integer>

  <key>IATemplateHeaderHeight</key>
  <integer>90</integer> -->
</dict>
</plist>
